/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/src/ @RealShadowNova @dan-online
/tests/ @RealShadowNova @dan-online @WilsontheWolf
LICENSE @eslachance
package.json @RealShadowNova
