/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/src/ @RealShadowNova @dan-online
/tests/ @RealShadowNova @dan-online @WilsontheWolf
LICENSE.md @eslachance
package.json @eslachance @RealShadowNova
