{
  "extends": "@sapphire",
  "rules": {
    "@typescript-eslint/class-literal-property-style": "off",
    "@typescript-eslint/dot-notation": ["error", { "allowPrivateClassPropertyAccess": true, "allowProtectedClassPropertyAccess": true }],
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "signature",

          ["public-instance-field", "public-decorated-field"],
          "public-abstract-field",
          ["protected-instance-field", "protected-decorated-field"],
          "protected-abstract-field",
          ["private-instance-field", "private-decorated-field"],
          "private-abstract-field",
          ["instance-field", "decorated-field"],
          "abstract-field",

          "public-constructor",
          "protected-constructor",
          "private-constructor",
          "constructor",

          ["public-instance-get", "public-decorated-get"],
          ["public-instance-set", "public-decorated-set"],
          "public-abstract-get",
          "public-abstract-set",
          ["protected-instance-get", "protected-decorated-get"],
          ["protected-instance-set", "protected-decorated-set"],
          "protected-abstract-get",
          "protected-abstract-set",
          ["private-instance-get", "private-decorated-get"],
          ["private-instance-set", "private-decorated-set"],
          "private-abstract-get",
          "private-abstract-set",
          ["instance-get", "decorated-get"],
          ["instance-set", "decorated-set"],
          "abstract-get",
          "abstract-set",

          ["public-instance-method", "public-decorated-method"],
          "public-abstract-method",
          ["protected-instance-method", "protected-decorated-method"],
          "protected-abstract-method",
          ["private-instance-method", "private-decorated-method"],
          "private-abstract-method",
          ["instance-method", "decorated-method"],
          "abstract-method",

          "public-static-field",
          "protected-static-field",
          "private-static-field",
          "static-field",

          "public-static-get",
          "public-static-set",
          "protected-static-get",
          "protected-static-set",
          "private-static-get",
          "private-static-set",
          "static-get",
          "static-set",

          "public-static-method",
          "protected-static-method",
          "private-static-method",
          "static-method"
        ]
      }
    ],
    "@typescript-eslint/no-namespace": "off",
    "curly": ["error", "multi-line"],
    "no-lone-blocks": "error",
    "no-tabs": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["const", "let", "var"] },
      { "blankLine": "never", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "never", "prev": "case", "next": "case" },
      { "blankLine": "never", "prev": "for", "next": "for" },
      { "blankLine": "never", "prev": "if", "next": "if" },
      {
        "blankLine": "always",
        "prev": [
          "block-like",
          "break",
          "case",
          "class",
          "continue",
          "default",
          "multiline-const",
          "multiline-expression",
          "multiline-let",
          "multiline-var",
          "return",
          "switch",
          "try"
        ],
        "next": "*"
      },
      { "blankLine": "always", "prev": "*", "next": ["case", "default"] }
    ]
  }
}
